#contentSlot {
	display: flex;
    align-items: center;
    flex-direction: column;
    block-size: 100%;
}

#welcomeLogo {
	inline-size: 90vw;
    margin: 2% 0 0 0;
}

#menuLayout {
    box-sizing: border-box;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-content: center;
    align-items: center;
    inline-size: 70%;
    aspect-ratio: 1/1;
    margin: auto 0;
    rotate: 45deg;
}

.menuKnop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    color: white;
    text-align: center;
    position: relative;
}

#t-rapport:hover, #u-rapport:hover, #kennisbase:hover, #instellingen:hover {
    background: var(--accent-color);
}

#t-rapport {
    border-top: 5px solid var(--accent-color);
    border-left: 5px solid var(--accent-color);
    border-bottom: 1px solid rgba(0,170,162, 0.1);
    border-right: 1px solid rgba(0,170,162, 0.1);
}

#u-rapport {
    border-top: 5px solid var(--accent-color);
    border-right: 5px solid var(--accent-color);
    border-bottom: 1px solid rgba(0,170,162, 0.1);
    border-left: 1px solid rgba(0,170,162, 0.1);
}

#kennisbase {
    border-top: 1px solid rgba(0,170,162, 0.1);
    border-right: 1px solid rgba(0,170,162, 0.1);
    border-bottom: 5px solid var(--accent-color);
    border-left: 5px solid var(--accent-color);
}

#instellingen {
    border-top: 1px solid rgba(0,170,162, 0.1);
    border-right: 5px solid var(--accent-color);
    border-bottom: 5px solid var(--accent-color);
    border-left: 1px solid rgba(0,170,162, 0.1);
}

#v-line{
    position: absolute;
    border-top: 6px solid var(--accent-color);
    border-left: 6px solid var(--accent-color);
    inline-size: 25%;
    aspect-ratio: 1/1;
    margin: 25% 0 0 50%;
}

.menuTitle {
    font-size: 1rem;
    font-weight: bold;
    rotate: -45deg;
    margin: 20% 0 0 20%;
}
.menuIcon {
    position: absolute;
    font-size: 3rem;
    color: var(--accent-color);
    rotate: -45deg;
    margin: 0 25% 25% 0;
}

ion-toolbar {
	--background: var(--colorfade-primary);
    --color: var(--accent-color);
	text-align: center;
}

ion-content {
	--background: var(--accent-dark);
    block-size: 100%;
}

ion-title {
    font-weight: bold;
}

ion-footer {
    block-size: 7%;
}

#footerToolbar {
    block-size: 100%;
    display: flex;
    align-items: center;
}

#footerButtons {
    display: flex;
    justify-content: space-evenly;
}

.footerIcons {
    font-size: 2.25rem;
}

.reportCardHeader {
    padding: 0.5em;
}

@media screen and (min-width: 600px) {
    #menuLayout {
        inline-size: 50%;
    }
}

@media screen and (min-width: 900px) {
    #menuLayout {
        inline-size: 25%;
    }

    .reportCard {
        margin: 1em auto;
        padding: 0;
        max-inline-size: 50%;
        max-block-size: 5em;
    }

    .reportCardHeader {
        padding: 0 0 0 1.5em;
    }
}