/* :root {
	--ion-color-primary: linear-gradient(to right, rgba(71, 94, 108, 100), rgba(20, 27, 31, 100));
	--ion-color-primary-rgb: 0, 0, 0;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #000000;
	--ion-color-primary-tint: #1a1a1a;

	--ion-color-secondary: rgba(0, 170, 162, 100);
	--ion-color-secondary-rgb: 0, 0, 0;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #000000;
	--ion-color-secondary-tint: #1a1a1a;

	--ion-color-tertiary: rgba(0, 170, 162, 100);
	--ion-color-tertiary-rgb: 0, 0, 0;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #000000;
	--ion-color-tertiary-tint: #1a1a1a;

	--ion-color-success: rgba(0, 170, 162, 100);
	--ion-color-success-rgb: 0, 0, 0;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: #000000;
	--ion-color-success-tint: #1a1a1a;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255, 196, 9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235, 68, 90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146, 148, 156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244, 245, 248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
} */

ion-toolbar {
	--background: linear-gradient(to right, rgba(71, 94, 108, 100), rgba(20, 27, 31, 100));
    --color: rgb(225,225,225);
	text-align: center;
}

#welcomeLogo {
	inline-size: 50%;
	margin: 5% 0 0 25%;
}

#subTitle {
	color: rgba(0, 170, 162, 100);
	text-align: center;
	margin: 10% 0 0 0;
	font-weight: bold;
}