:root {
	--colorfade-primary: linear-gradient(to right, rgba(71, 94, 108, 100), rgba(20, 27, 31, 100));
	--accent-color: rgb(0,170,162);
	--accent-light: rgba(71, 94, 108, 100);
	--accent-dark: rgba(20, 27, 31, 100);
}